<mat-card>
  <form>
    <div class="todo-row">
      <mat-checkbox [formControl]="checkForm" color="primary"></mat-checkbox>
      <div class="todo-text">
        <span>{{ todo.todo }}</span>
      </div>
      <div class="todo-options">
        <button
          mat-icon-button
          color="primary"
          matTooltip="Adicionar sub-tarefa"
          (click)="add()"
        >
          <mat-icon>add</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          matTooltip="Editar tarefa"
          (click)="editTodo()"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          matTooltip="Apagar tarefa"
          (click)="deleteTodo()"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div class="sub-todos-grid">
      <ng-container *ngFor="let subTodo of todo.subTodo">
        <teste-sub-todo-item
          [todo]="subTodo"
          [key]="todo.uuid"
        ></teste-sub-todo-item>
      </ng-container>
    </div>
  </form>
</mat-card>
