<div class="todo-row">
  <mat-checkbox [formControl]="checkForm" color="primary"></mat-checkbox>
  <div class="todo-text">
    <span>{{ todo.todo }}</span>
  </div>
  <div class="todo-options">
    <button mat-icon-button matTooltip="Ações" [matMenuTriggerFor]="menu">
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="add()">
        <mat-icon color="primary">add</mat-icon>
        <span>Adicionar sub-tarefa</span>
      </button>
      <button mat-menu-item (click)="editTodo()">
        <mat-icon color="primary">edit</mat-icon>
        <span>Editar tarefa</span>
      </button>
      <button mat-menu-item (click)="deleteTodo()">
        <mat-icon color="warn">delete</mat-icon>
        <span>Apagar tarefa</span>
      </button>
    </mat-menu>
  </div>
</div>

<div class="sub-todos-grid">
  <ng-container *ngFor="let subTodo of todo.subTodo">
    <teste-sub-todo-item
      [todo]="subTodo"
      [key]="key + '/' + todo.uuid"
    ></teste-sub-todo-item>
  </ng-container>
</div>
