<ng-container *ngIf="todoListState$ | async as todoListState">
  <ng-container *ngIf="todoListState.loading">
    <div style="display: flex; justify-content: center">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!todoListState.loading">
    <div class="grid">
      <div class="container">
        <ng-container *ngFor="let todo of todoListState.list">
          <teste-todo-card [todo]="todo"></teste-todo-card>
        </ng-container>

        <div
          style="display: flex; justify-content: center; margin-bottom: 65px"
        >
          <button mat-mini-fab color="primary" (click)="add()">
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
