<ng-container *ngIf="todoListState$ | async as todoListState">
  <ng-container *ngIf="todoListState.loading">
    <div class="center-align">
      <mat-spinner></mat-spinner>
    </div>
  </ng-container>

  <ng-container *ngIf="!todoListState.loading">
    <div class="grid">
      <div class="container">
        <ng-container *ngFor="let todo of todoListState.list">
          <teste-todo-card [todo]="todo"></teste-todo-card>
        </ng-container>

        <div class="center-align button-add">
          <button
            mat-mini-fab
            color="primary"
            matTooltip="Adicionar tarefa"
            (click)="add()"
          >
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
